In [40]:
import pandas as pd
import sys
sys.path.append('./FX-1-Minute-Data-master/full-data-2000-2017/')

In [67]:
from zipfile import ZipFile
import glob

In [97]:
def load_data()
    list_paths = glob.glob('*/full-data-2000-2017/**/', recursive=True)
    list_years = glob.glob('*/full-data-2000-2017/**/*.zip', recursive=True)

    df = pd.DataFrame()
    for path in list_paths[1:]:
        list_years = glob.glob(path+'*.zip', recursive=True)

        df_tmp = pd.DataFrame()
        for year in list_years:
            ticker = year[len("FX-1-Minute-Data-master/full-data-2000-2017/eurczk/DAT_ASCII_"):][:len("EURCZK")]
            filename = year[len("FX-1-Minute-Data-master/full-data-2000-2017/eurczk/"):-len('.zip')]

            columns = ['DateTime Stamp', ticker + ' CLOSE Bid Quote']
            zip_file = ZipFile(year)
            df_tmp = pd.concat([df_tmp, pd.read_csv(zip_file.open(filename + '.csv'), sep=';', index_col=[0], usecols=[0, 4], names=columns)], axis=0)

        df = pd.concat([df, df_tmp], axis=1)
        
    return df

//anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:17: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [98]:
df

                 EURCZK CLOSE Bid Quote  EURNOK CLOSE Bid Quote
20080831 170000                     NaN                 7.96120
20080831 170700                     NaN                 7.95830
20080901 163700                     NaN                 7.96350
20080901 172400                     NaN                 7.96980
20080902 075800                     NaN                 8.00390
20080902 075900                     NaN                 8.00390
20080902 080000                     NaN                 8.00330
20080902 080100                     NaN                 8.00290
20080902 080200                     NaN                 8.00290
20080902 080300                     NaN                 8.00220
20080902 080400                     NaN                 8.00230
20080902 080500                     NaN                 8.00320
20080902 080600                     NaN                 8.00380
20080902 080700                     NaN                 8.00440
20080902 080800                     NaN                 8.00520
20080902 080900                     NaN                 8.00450
20080902 081000                     NaN                 8.00480
20080902 081100                     NaN                 8.00640
20080902 081200                     NaN                 8.00660
20080902 081300                     NaN                 8.00710
20080902 081400                     NaN                 8.00800
20080902 081500                     NaN                 8.00700
20080902 081600                     NaN                 8.00680
20080902 081700                     NaN                 8.00660
20080902 081800                     NaN                 8.00650
20080902 082000                     NaN                 8.00650
20080902 082100                     NaN                 8.00660
20080902 082200                     NaN                 8.00700
20080902 082300                     NaN                 8.00670
20080902 082400                     NaN                 8.00670
...                                 ...                     ...
20171117 162900                 25.5663                 9.71217
20171117 163000                 25.5627                 9.71249
20171117 163100                 25.5666                 9.71249
20171117 163200                 25.5664                 9.71249
20171117 163300                 25.5664                 9.71249
20171117 163400                     NaN                 9.71249
20171117 163500                 25.5665                 9.71227
20171117 163600                 25.5664                 9.71238
20171117 163700                 25.5663                 9.71294
20171117 163800                 25.5663                 9.71205
20171117 163900                 25.5662                 9.71210
20171117 164000                 25.5661                 9.71217
20171117 164100                     NaN                 9.71281
20171117 164200                     NaN                 9.71174
20171117 164300                 25.5662                 9.71763
20171117 164400                 25.5672                 9.71768
20171117 164500                 25.5664                 9.71542
20171117 164600                 25.5664                 9.71536
20171117 164700                     NaN                 9.71525
20171117 164800                 25.5663                 9.71491
20171117 164900                 25.5664                 9.71520
20171117 165000                 25.5662                 9.71377
20171117 165100                     NaN                 9.71321
20171117 165200                 25.5664                 9.71320
20171117 165300                 25.5661                 9.71324
20171117 165400                 25.5662                 9.71322
20171117 165500                 25.5600                 9.71160
20171117 165600                 25.5583                 9.71018
20171117 165700                 25.5574                     NaN
20171117 165800                 25.5574                     NaN

[2819280 rows x 2 columns]